@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Import da fonte Roboto (Google) */

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

/* Barra de pesquisa */

.espacobusca{
    width: 100%;
    position: relative;
    height: 50px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[type=search] {
    height: 40px;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
    background: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 25%;
    margin-right: -8px;
}

.btnPesquisa {
    height: 50px;
    width: 50px;
    background: url('../../../public/img/lupa24a.png') center no-repeat;
    border: none;
    outline: none;
    position: absolute;
    cursor: pointer;
}

input[type=search]:hover {
    border-color: #ff00b7;
    border-style: solid;
}


/* Menu Principal da página */

article .menuprincipal {
    text-align: center;
    height: 100%;
    position: relative;
}

article .menuprincipal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

article .menuprincipal ul li {
    display: inline;
}

article .menuprincipal ul li img {
    text-decoration: none;
}

article h1 {
    text-align: center;
}


/* Padrões dos icones do menu principal */

.imgmenuprincipal {
    display: inline-flex;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

article .menu-principal {
    font-family: 'Roboto', sans-serif;
    display: inline-grid;
    position: inherit;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

article .menu-principal:focus {
    border-top-color: transparent;
    background-color: #ff00b7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

article #btnpadrao {
    background-color: #ff00b7;
}

article .menu-principal:hover {
    border-color: transparent;
    background-color: #ff00b7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

article .Albuns {
    display: none;
}

article #padrao {
    display: block;
}

article p{
    text-align: center;
}


article .CadastrarImagem{
    display: none;
    padding: 10px;
    margin: unset;
    position: fixed;
    top: 40%;
    left: 32%;
    float: center;
    background-color: white;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
}

.divBtnAddImagem{
    text-align: center;
}
.btnAddImagem{
    width: 45px;
    border-style: solid;
    border-radius: 5px;
}

#imgBtnAddImagem{
    width: 100%;
}


/* Albúm de fotos (caixa de imagens) */

article .imagens {
    margin-left: 15%;
    margin-right: 15%;
}

article .caixadeimagens {
    position: static;
    align-content: center;
    background-color:white;
    padding-top: 5px;
    padding-bottom: 5px;

}

article .caixadeimagens .img-album{
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
    background-color: black;
}

article .caixadeimagens .imagensdoalbum{
    display: inline-flex;
    width: 150px;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    background-color: white;
    cursor:pointer;
}
article .caixadeimagens figcaption{
    background: #fff;
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    display: none;
    text-align: center;
    font-size: 12px;
}

article .Videosdoalbum{
    display: none;
}

article .Imagensdoalbum{
    display: block;
}

.iconeAddImagem{
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    display: inline-flex;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor:pointer;
}

.img-album-add{
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
}

figcaption a{
    text-align: center;
}

article .CadastrarAlbum{
    display: none;
}
.img-icone{
    align-content: center;
    display: flex;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    margin-left: auto;
	margin-right: auto;
}

#imgorvideo{
    width: 30px;
}

.seletorImgOrVideo{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.divSeletorImgOrVideo{
    position: fixed;
    top: 50%;
    margin-top: -25px;
    margin-left: 10px;
}

.seletorImgOrVideo:hover{
    border-color: #ff00b7;
}

.seletorImgOrVideo:focus{
    border-color: #ff00b7;
}

.seletorImgOrVideo:focus-visible{
    border-color: #ff00b7;
}

.seletorImgOrVideo:enabled{
    border-color: #ff00b7;
}

#btnupload {
    background: #ff00b7;
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 5px 0;
    margin-top: 20px;
    margin-left: 20px;
}

#btnupload:hover {
    background: #ff00b7;
    color: #fff;
    box-shadow: #ff00b7 0 0 2px;
    cursor: pointer;
    transition: all 0.5s;
}


/*estilo dos forms*/

form {
    text-align: center;
}

/*estilo do form de cadastro de albuns */
.formCadastrarAlbum{
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

.formCadastrarAlbum input{
    width: 400px;
    padding: 2px;
    margin: 2px;
    border: solid 1px black;
}

.formCadastrarAlbum input[type = submit]{
    font-family: 'Roboto', sans-serif;
    width: auto;
    border: none;
    border-radius: 3px;
    background-color: #000000;
    color: white;
    padding: 5px;
}
.formCadastrarAlbum input[type = submit]:hover{
    background-color: #ff00b7;
}
.formCadastrarAlbum input[type = submit]:focus{
    background-color: #ff00b7;
}
.formCadastrarAlbum textarea{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    padding: 2px;
    margin: 2px;
    border: solid 1px black;
}

@media screen and (max-width: 800px) {
    input[type=search] {
        margin-top: 12px;
        margin-bottom: 3%;
        margin-right: -12px;
        height: 25px;
        width: 50%;
    }
    .btnPesquisa {
        background: url('../../../public/img/lupa16a.png') center no-repeat;
    }
    .imgmenuprincipal {
        width: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #padrao h1 {
        font-size: 16px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1440px) {
    input[type=search] {
        margin-top: 7px;
        height: 35px;
        width: 30%;
    }
    .btnPesquisa {
        background: url('../../../public/img/lupa24a.png') center no-repeat;
    }
    .imgmenuprincipal {
        width: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #padrao h1 {
        font-size: 20px;
    }
}
