@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Import da fonte Roboto (Google) */

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

/* Barra de pesquisa */

.espacobusca{
    width: 100%;
    position: relative;
    height: 50px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[type=search] {
    height: 20px;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
    background: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 25%;
    margin-right: -8px;
}

input #pesquisa{
    padding: 1px;
}

.btnPesquisa {
    height: 50px;
    width: 50px;
    background: url('../../../public/img/lupa24a.png') center no-repeat;
    border: none;
    outline: none;
    position: absolute;
    cursor: pointer;
}

input[type=search]:hover {
    border-color: #ff00b7;
    border-style: solid;
}


/* Menu Principal da página */

article .menuprincipal {
    text-align: center;
    height: 100%;
}

article .menuprincipal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

article .menuprincipal ul li {
    display: inline;
}

article .menuprincipal ul li img {
    text-decoration: none;
}

article h1 {
    text-align: center;
}


/* Padrões dos icones do menu principal */

.imgmenuprincipal {
    display: inline-flex;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

article .menu-principal {
    font-family: 'Roboto', sans-serif;
    display: inline-grid;
    position: inherit;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    margin: 0.1px;
    margin-top: 10px;
    font-size: 14px;
}

article .menu-principal:focus {
    border-top-color: transparent;
    background-color: #ff00b7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

article #btnpadrao {
    background-color: #ff00b7;
}

article .menu-principal:hover {
    border-color: transparent;
    background-color: #ff00b7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

article .Albuns {
    display: none;
}

article #padrao {
    display: block;
}

article p{
    text-align: center;
}

.CadastrarImagem {
    display: none;
}

.fotosAlbum {
    display: none;
}

/*Fazendo os modals de Album*/
.modal{
    display: none;
    padding: 10px;
    margin: unset;
    position: fixed;
    float: center;
    background-color: white;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(170, 167, 167);
    width: 90%; /* Could be more or less, depending on screen size */
    margin-left: 50px;
  }
    
  /* The Close Button */
.close {
    color: rgb(233, 15, 15);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.divBtnAddImagem{
    text-align: center;
}
.btnAddImagem{
    width: 45px;
    border-style: solid;
    border-radius: 5px;
}

#imgBtnAddImagem{
    width: 100%;
}


/* Albúm de fotos (caixa de imagens) */

article .imagens {
    margin-left: 15%;
    margin-right: 15%;
}

article .caixadeimagens {
    position: static;
    align-content: center;
    background-color:white;
    padding-top: 5px;
    padding-bottom: 5px;

}

article .caixadeimagens .img-album{
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
    background-color: black;
}

article .caixadeimagens .imagensdoalbum{
    display: inline-flex;
    width: 150px;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    background-color: white;
    cursor:pointer;
}
article .caixadeimagens figcaption{
    background: #fff;
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    display: none;
    text-align: center;
    font-size: 12px;
}

article h1 h2 h3{
    color: #ff00b7;
}

article .Videosdoalbum{
    display: none;
}

article .Imagensdoalbum{
    display: block;
}

.iconeAddImagem{
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    display: inline-flex;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor:pointer;
}

.img-album-add{
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
}

figcaption a{
    text-align: center;
}

article .CadastrarAlbum{
    display: none;
}
.img-icone{
    align-content: center;
    display: flex;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    margin-left: auto;
	margin-right: auto;
}

#imgorvideo{
    width: 30px;
}

.seletorImgOrVideo{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.divSeletorImgOrVideo{
    position: fixed;
    top: 50%;
    margin-top: -25px;
    margin-left: 10px;
}

.seletorImgOrVideo:hover{
    border-color: #ff00b7;
}

.seletorImgOrVideo:focus{
    border-color: #ff00b7;
}

.seletorImgOrVideo:focus-visible{
    border-color: #ff00b7;
}

.seletorImgOrVideo:enabled{
    border-color: #ff00b7;
}

#btnupload {
    background: #ff00b7;
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 5px 0;
    margin-top: 20px;
    margin-left: 20px;
}

#btnupload:hover {
    background: #ff00b7;
    color: #fff;
    box-shadow: #ff00b7 0 0 2px;
    cursor: pointer;
    transition: all 0.5s;
}


/*estilo dos forms*/

form {
    text-align: center;
}

/*estilo do form de cadastro de albuns */
.formAlbumComCodigo{
    margin-top: 15px;
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

.formAlbumComCodigo input{
    width: 150px;
    padding: 4px;
    margin: 2px;
    border: solid 1px black;
}
.formAlbumComCodigo input[type = submit]{
    font-family: 'Roboto', sans-serif;
    width: 50px;
    border: none;
    border-radius: 3px;
    background-color: #000000;
    color: white;
    padding: 5px;
}

.formAlbumComCodigo input[type = submit]:hover{
    background-color: #ff00b7;
}
.formAlbumComCodigo input[type = submit]:focus{
    background-color: #ff00b7;
}

.formCadastrarAlbum{
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

.formCadastrarAlbum input{
    width: 400px;
    padding: 2px;
    margin: 2px;
    border: solid 1px black;
}

.formCadastrarAlbum input[type = submit]{
    font-family: 'Roboto', sans-serif;
    width: auto;
    border: none;
    border-radius: 3px;
    background-color: #000000;
    color: white;
    padding: 5px;
}
.formCadastrarAlbum input[type = submit]:hover{
    background-color: #ff00b7;
}
.formCadastrarAlbum input[type = submit]:focus{
    background-color: #ff00b7;
}
.formCadastrarAlbum textarea{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    padding: 2px;
    margin: 2px;
    border: solid 1px black;
}

article .CompartilharAlbum{
    padding: 20px;
    margin: unset;
    position: fixed;
    top: 35%;
    left: 40%;
    float: center;
    background-color: white;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
}

article .CompartilharAlbum h1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ff00b7;
}

article .CompartilharAlbum h2{
    text-align: center;
    font-size: 20px ;
    font-weight: normal;
}

/* Definições para expansao */
#videoExpansao{
    position: relative;
    align-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    border-color: white;
    border-style: black;
    border-size: 2px;
    border-radius: 10px;
}

#detalhesExpansao {
    position: relative;
    align-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background: white;
    color: black;
    border-color: white;
    border-style: white;
    border-radius: 10px;

}

#expansao{
    display: inline-flex;
    position: absolute;
    top:25%;
    left:35%;
    margin-top:-30px;
    margin-left:auto;
    background-color: black;
    width: 400px;
    box-shadow: -1px 2px 2px 2px rgb(0, 0, 0, 0.65);
    border-radius: 10px;
}
#captionExpansao{
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.65);
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: white;
    height: auto;
    border-radius: 10px;
}
#captionDetalhesExpansao{
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.65);
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: white;
    height: auto;
    margin-left: 2px;
    border-radius: 10px;
}

.imgIconeExpansao{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}
/*--------------------------------------------------------------------------------------------------*/
.divDescricao{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
}
.Descricao{
    text-align: center;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 16px;
    display: inline-flex;
}
.textoDescricao{
    margin-top: 6px;
    margin-right: 2px;
    vertical-align: center;
    font-size: 14px;
}

.imgBtnCompartilhar{
    position: inherit;
    width: 30px;
    height: 30px;
}

#btnMinimizar{
    border: none;
    background: none
}

/* ---------------------------------- --------------------------------- ------------------*/
.divformAdicionarImagemEmAlgumAlbum{
    display: none;
    padding: 20px;
    margin: unset;
    position: fixed;
    top: 40%;
    left: 32%;
    float: center;
    background: white;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
}

.divformAdicionarImagemEmAlgumAlbum h1{
    color:#ff00b7;
}
.divformAdicionarImagemEmAlgumAlbum input{
    font-size: 10px;
}

.divformAdicionarImagemEmAlgumAlbum input[type=submit]{
    font-size: 13px;
}


.divformAdicionarImagemEmAlgumAlbum input[type=radio]{
    border-color: #ff00b7;
}


@media screen and (max-width: 800px) {
    input[type=search] {
        margin-top: 12px;
        margin-bottom: 3%;
        margin-right: -12px;
        height: 25px;
        width: 50%;
    }
    .btnPesquisa {
        background: url('../../../public/img/lupa16a.png') center no-repeat;
    }
    .imgmenuprincipal {
        width: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #padrao h1 {
        font-size: 16px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1440px) {
    input[type=search] {
        margin-top: 7px;
        height: 35px;
        width: 30%;
    }
    .btnPesquisa {
        background: url('../../../public/img/lupa24a.png') center no-repeat;
    }
    .imgmenuprincipal {
        width: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #padrao h1 {
        font-size: 20px;
    }
}


/*Modal para inserir imagem em algum album*/ 

  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(15, 14, 14);
    width: 80%; /* Could be more or less, depending on screen size */
  }


.exibicaoAlbum  {
    list-style: none;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-gap: 30px;
    margin-top: 10px;

}

.exibicaoAlbum li {
    width: 150px;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

.textoMidia{
    color: #f705b2;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

.exibicaoAlbum li :hover{
    background: #f705b2;
}

.exibicaoAlbum li button {
    cursor: pointer;
    background: aliceblue;
}


.exibicaoAlbum li img{
    align-self: center;
}

.exibicaoAlbum li div {
    max-width: 150px;
    display: inline-block;
    flex: 1;
    padding: 2px;
    text-align: left;
    border-radius: 0 0 5px 5px;
    line-height: 30px;
}
