@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Import da fonte Roboto (Google) */

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}


/* Barra de pesquisa */

.espacobusca {
    width: 100%;
    position: relative;
    height: 50px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[type=search] {
    height: 40px;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
    background: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 25%;
    margin-right: -8px;
}

.btnPesquisa {
    height: 50px;
    width: 50px;
    background: url('../../../public/img/lupa24a.png') center no-repeat;
    border: none;
    outline: none;
    position: absolute;
    cursor: pointer;
}

input[type=search]:hover {
    border-color: #387bfc;
    border-style: solid;
}


/* Menu Principal da página */

article .menuprincipal {
    text-align: center;
    height: 100%;
    position: relative;
}

article .menuprincipal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

article .menuprincipal ul li {
    display: inline;
}

article .menuprincipal ul li img {
    text-decoration: none;
}

article h1 {
    text-align: center;
}


/* Padrões dos icones do menu principal */

.imgmenuprincipal {
    display: inline-flex;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

article .menu-principal {
    font-family: 'Roboto', sans-serif;
    display: inline-grid;
    position: inherit;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

article .menu-principal:focus {
    border-top-color: transparent;
    background-color: #387bfc;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

article #btnpadrao {
    background-color: #387bfc;
}

article .menu-principal:hover {
    border-color: transparent;
    background-color: #387bfc;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

article .Albuns {
    display: none;
}

article #padrao {
    display: block;
}

article p{
    text-align: center;
}


/* Albúm de fotos (caixa de imagens) */

article .imagens {
    margin-left: 15%;
    margin-right: 15%;
}

article .caixadeimagens {
    position: static;
    align-content: center;
    background-color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}

article .caixadeimagens .img-album{
    background: #fff;
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
}
article .caixadeimagens .imagensdoalbum{
    display: inline-flex;
    width: 150px;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    background-color: white;
    cursor:pointer;
}
article .caixadeimagens figcaption{
    background: #fff;
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
    display: none;
    text-align: center;
    font-size: 12px;
}

.iconeAddImagem{
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    display: inline-flex;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor:pointer;
}

.img-album-add{
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    padding: 2px;
    vertical-align: top;
    width: 150px;
    height: 150px;
}

figcaption a{
    text-align: center;
}

article .CadastrarAlbum{
    display: none;
}
.img-icone{
    align-content: center;
    display: flex;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

.divupload {
    margin-top: 1%;
    margin-bottom: 1%;
    background: #444;
    width: 300px;
    border-radius: 6px;
    padding: 10px 3px 10px;
    position: relative;
    margin-left: 43%;
}

.divupload img {
    float: right;
}

.divupload input[type=file] {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 40px;
    opacity: 0;
}

#btnupload {
    background: #387bfc;
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 5px 0;
    margin-top: 20px;
    margin-left: 20px;
}

#btnupload:hover {
    background: #387bfc;
    color: #fff;
    box-shadow: #387bfc 0 0 2px;
    cursor: pointer;
    transition: all 0.5s;
}

.divupload span {
    color: #fff;
    margin-top: 10px;
    display: block;
    float: left;
    margin-left: 5px;
}

/*estilo dos forms*/

form {
    text-align: center;
}

/*estilo do form de cadastro de albuns */
.formCadastrarAlbum{
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

.formCadastrarAlbum input{
    width: 400px;
    padding: 2px;
    margin: 2px;
    border: solid 1px black;
}

.formCadastrarAlbum input[type = submit]{
    font-family: 'Roboto', sans-serif;
    width: auto;
    border: none;
    border-radius: 3px;
    background-color: #000000;
    color: white;
    padding: 5px;
}
.formCadastrarAlbum input[type = submit]:hover{
    background-color: #387bfc;
}
.formCadastrarAlbum input[type = submit]:focus{
    background-color: #387bfc;
}
.formCadastrarAlbum textarea{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    padding: 2px;
    margin: 2px;
    border: solid 1px black;
}

@media screen and (max-width: 800px) {
    input[type=search] {
        margin-top: 12px;
        margin-bottom: 3%;
        margin-right: -12px;
        height: 25px;
        width: 50%;
    }
    .btnPesquisa {
        background: url('../../../public/img/lupa16a.png') center no-repeat;
    }
    .imgmenuprincipal {
        width: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #padrao h1 {
        font-size: 16px;
    }
    .divupload {
        margin-top: 1%;
        margin-bottom: 1%;
        width: 150px;
        padding: 5px 2px 7px;
        margin-left: 36%;
    }
    #btnupload {
        width: 120px;
        padding: 3px 0;
        margin-top: 5px;
        margin-left: 5px;
    }
    .divupload img {
        width: 28px;
        height: 25px;
    }
    .divupload span {
        font-size: 10px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1440px) {
    input[type=search] {
        margin-top: 7px;
        height: 35px;
        width: 30%;
    }
    .btnPesquisa {
        background: url('../../../public/img/lupa24a.png') center no-repeat;
    }
    .imgmenuprincipal {
        width: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #padrao h1 {
        font-size: 20px;
    }
    .divupload {
        margin-top: 1%;
        margin-bottom: 1%;
        width: 200px;
        padding: 10px 3px 10px;
        margin-left: 43%;
    }
    #btnupload {
        width: 170px;
        padding: 4px 0;
        margin-top: 5px;
        margin-left: 5px;
    }
    .divupload img {
        width: 30px;
        height: 28px;
    }
    .divupload span {
        font-size: 12px;
        margin-left: 8px;
    }
}