@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Import da fonte Roboto (Google) */

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}


/* Barra de pesquisa */
article .espacobusca{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
article .espacobusca input[type = search]{
    text-align: center;
    border-color: rgb(197, 197, 197);
    border-style: solid;
    border-radius: 10px;
    width: 30%;
}

article .espacobusca input[type = search]:hover{
    text-align: center;
    border-color: rgb(0, 255, 242);
    border-style: solid;
    border-radius: 10px;
    width: 30%;
}

/* Menu Principal da página */
article .menuprincipal{
    text-align: center;
    height: 100%;
    position: relative;
}
article .menuprincipal ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}

article .menuprincipal ul li{
    display: inline;
}

article .menuprincipal ul li img{
    text-decoration: none;
}

article h1{
    text-align: center;
}

/* Padrões dos icones do menu principal */
.imgmenuprincipal{
    display: inline-flex;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

article .menu-principal{
    display: inline-grid;
    position: inherit;
    background-color: transparent;
    border-color: transparent;
}

article .menu-principal:focus{
    border-top-color: transparent;
    background-color: #ff6b00;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

article #btnpadrao{
    background-color: #ff6b00;
}
article .menu-principal:hover{
    border-color: transparent;
    background-color: #ff6b00;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.64);
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

article .Albuns{
    display: none;
}
article #padrao{
    display: block;
}

/* Albúm de fotos (caixa de imagens) */

article .imagens{
    margin-left: 10%;
    margin-right: 10%;
}
article .caixadeimagens{
    cursor:default;
    list-style:none;
    width: 100%;
}
article .caixadeimagens img{
    background:#fff;
    border-color:#aaa #ccc #ddd #bbb;
    border-style:solid;
    border-width:1px;
    color:inherit;
    padding:2px;
    vertical-align:top;
    width:150px; height:150px;
}

article .caixadeimagens ul{
    text-align: center;
    padding: 0;
}
article .caixadeimagens li{
    position: center;
    text-align: center;
    color:inherit;
    display:inline;
    margin:3px;
    padding:5px;
}
article .caixadeimagens .preview {
    border-color:#000;
    width:200px;
    height:150px;
}

/*estilo do form provisório */
form{
    text-align: center;
}