/* footer */

footer {
    position: fixed;
    top: 90%;
    left: 25%;
    right: 25%;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: white;
    color: black;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    footer {
        font-size: 12px;
    }
}

@media screen and (min-width: 801px) and (max-width:1440px) {
    footer {
        font-size: 13px;
    }
}