body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;

}


/* Cabeçalho da página */

header {
    background-color: black;
    background-image: url("../../public/img/logo.png");
    /* Inserção do logo tipo da página */
    background-position: left;
    background-position-x: 7%;
    background-size: 150px;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3px;
    padding-top: 3px;
}


/* Menu do cabecalho */

header .menu {
    text-align: right;
}

header .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .menu ul li {
    display: inline;
    margin-right: 5px;
}

header .menu ul li a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

header .menu ul li a:hover {
    color: #ff00b7;
}

.imgperfil {
    vertical-align: -65%;
    width: 40px;
    border-radius: 100%;
}

@media screen and (max-width: 800px) {
    .menu ul li {
        font-size: 10px;
    }
    .imgperfil {
        width: 35px;
    }
}

@media screen and (min-width:801px) and (max-width: 1440px) {
    .menu ul li {
        font-size: 15px;
    }
}