@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Import da fonte Roboto (Google) */

body{
    font-family: 'Roboto', sans-serif;
}
article{
    text-align: center;
}

/* Informações do usuario */
article p{
    font-size: medium;
}

/* Imagem do perfil do usuario */
figure .imagemPerfil{
    width: 100px;
    box-shadow: black 2px 2px 5px;
    border-radius: 100%;
}