<!DOCTYPE html>
<html>

<head>
    <title>Nova Senha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo1.css">
</head>

<body>
    <div class="login_page">
        <div class="box">
            <h1>LOGO</h1>
            <strong>Iremos te enviar uma nova senha em seu email cadastrado</strong>
            <form id="form-ns" action="" method="post">
                <input type="email" id="email-ns" name="email_ns" placeholder="Digite aqui seu e-mail de cadastro" />
                <p class="erro-email-ns"></p>
                <input type="button" class="btn-login" id="btn-env-ns" value="Enviar nova senha" />
            </form>
            <a href="login.html">Voltar para login</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="js/login.js" type="text/javascript"></script>
</body>

</html>