@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Import da fonte Roboto (Google) */

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
article{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Imagem do perfil do usuario */
figure .img-perfil{
    text-align: center;
    border-radius: 100%;
    width: 90px;
    height: 90px;
}


.titulo {  
    padding-left: 30px;
    padding-right: 30px;
}


.dados div{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 18px;
}

.dados div label{
    font-size: 16px;
    color: rgb(107, 107, 107);
    display: inline-block;
}


.dados div span{
    font-size: 16px;
    margin-left: 10px;
}

.rodape {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
    font-size: 15px;
}
/*Só para testes daqui para a baixo*/
form{
    text-align: center;
}