@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Import da fonte Roboto (Google) */

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Imagem do perfil do usuario */

figure .img-perfil {
    text-align: center;
    border-radius: 100%;
    width: 90px;
    height: 90px;
}

.titulo {
    padding-left: 30px;
    padding-right: 30px;
}

.dados {
    margin-top: 20px;
}

.dados div {
    width: 100%;
    margin-top: 18px;
}

.dados div label {
    font-size: 16px;
    color: rgb(107, 107, 107);
    display: inline-block;
}

.dados div span {
    font-size: 16px;
    margin-left: 10px;
}

form {
    text-align: center;
}

footer {
    margin-top: 160px;
}

#imagem-perfil {
    display: none;
}

.divSelecionaImg {
    border: none;
    width: 300px;
    background-color: #EEE;
    border-left: 5px solid black;
    margin-bottom: 40px;
    float: left;
}

#spResultado {
    padding: 5px;
    font-size: 18px;
    float: left;
}

#btnSelecionar {
    padding: 5px;
    font-size: 18px;
    background-color: #0025ff;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

#btnSelecionar:hover {
    background-color: rgb(0, 0, 0);
}

#btnAtualizar {
    padding: 5px;
    font-size: 18px;
    background-color: #ff0000;
    border-radius: 10px 3px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

#btnAtualizar:hover {
    background-color: #000000;
}

@media screen and (max-width:800px) {
    .titulo h1 {
        font-size: 20px;
    }
    figure .img-perfil {
        width: 60px;
        height: 60px;
    }
    .dados div {
        width: 100%;
        margin-top: 10px;
    }
    .dados div label {
        font-size: 14px;
    }
    .dados div span {
        font-size: 14px;
    }
    .divSelecionaImg {
        width: 250px;
        margin-bottom: 40px;
    }
    #spResultado {
        padding: 4px;
        font-size: 14px;
    }
    #btnAtualizar {
        padding: 5px;
        font-size: 14px;
    }
    footer {
        margin-top: 50px;
    }
}

@media screen and (min-width:801px) and (max-width: 1440px) {
    .titulo h1 {
        font-size: 22px;
    }
    figure .img-perfil {
        width: 60px;
        height: 60px;
    }
    .dados div {
        width: 100%;
        /* border: 1px solid red; */
        margin-top: 15px;
    }
    .dados div label {
        font-size: 14px;
    }
    .dados div span {
        font-size: 15px;
    }
    .divSelecionaImg {
        width: 270px;
        margin-bottom: 45px;
    }
    #spResultado {
        padding: 6px;
        font-size: 16px;
    }
    #btnAtualizar {
        padding: 9px;
        font-size: 14px;
    }
    footer {
        margin-top: 80px;
    }
}