@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;    
    
}

/*--------------Login----------------------------------*/

.login_page {
    background-image: url(../../../public/img/imgFundo.png);
    background-repeat: no-repeat;
    background-size: 100%;    
    left: 0;
    bottom: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 35vw;
    height: 50vh;
    background: #1E1E1E;
    border-radius: 20px;    
    text-align: center;    
}

.box input {
    display: block;
    text-align: center;
    width: 70%;
    height: 5vh;
    position: relative;
    left: 15%;
    border-color: #1E1E1E;
    border-radius: 12px;
}

.msg strong{
    color: red;
    font-size: 20px;
}

/*-----------CriarConta--------------------*/

.box-criarConta {
    display: none;
    width: 30vw;
    height: 90vh;
    background: #1E1E1E;
    border-radius: 20px;    
    text-align: center;
}

.box-criarConta input {
    display: block;
    text-align: center;
    width: 70%;
    height: 5vh;
    position: relative;
    left: 15%;
    border-color: #1E1E1E;
    border-radius: 12px;
}

/*-----------nova senha--------------------*/

.box-senha {
    display: none;
    width: 35vw;
    height: 50vh;
    background: #1E1E1E;
    border-radius: 20px;
    color: white;
    text-align: center;
} 
.box-senha input {
    display: block;
    text-align: center;
    width: 70%;
    height: 5vh;
    position: relative;
    left: 15%;
    border-color: #1E1E1E;
    border-radius: 12px;
}

.box-senha div{
    margin-bottom: 3%;  
}

/*-------------------Geral------------------------------------------------------------*/
a {
    display: block;
    text-decoration: none;
    color: #0591a3;
    font-weight: bold;
}

a:hover {
    color: #b0ffe9;
    cursor: pointer;
}

.logo{
    width: 18vw;            
}

.msg{
    position: relative;
    width: 70%;
    height:3vh;    
    left: 15%;    
    margin-bottom: 2%;
    z-index: 0;
}

.btn-login {
    margin-bottom: 2%;
    background-color: #050a9c;
    color: white;
    font-weight: bold;
    border-color: #050a9c;
}

.btn-login:hover {
    cursor: pointer;
    background-color: #05469c;
    border-color: #05469c;
}

/*------------Para arquivo login.html, criarConta.html e novaSenha.html-------------*/

@media screen and (max-width: 800px) {
    .box {
        width: 50vw;
        height: 40vh;        
    }     
    .box p,
    .box a,
    .box-criarConta a,
    .box-senha a {
        font-size: 12px;
    }
    .box-criarConta {      
        width: 50vw;
        height: 80vh;        
    }
    
    .box-criarConta p {
        font-size: 12px;
    }
    .box-senha strong {
        font-size: 12px;
    }  
    
    .box-senha {
        display: none;
        width: 50vw;
        height: 35vh;       
    }
    
    .msg strong{
        color: red;
        font-size: 12px;
    }
}




