<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="estilo1.css">
    </head>
    <body>
        <div class="login_page">
            <div class="box">
                <h1>LOGO</h1> 
                <form id="formLogin" action="" method="post">
                    <input type="text" id="user" name="user" placeholder="Usuário" />
                    <p class="erro-user"></p>
                    <input type="password" id="senha" name="senha" placeholder="Senha" />
                    <p class="erro-senha"></p>
                    <input type="button" class="btn-login" id="btn-entrar" value="Entrar"/>
                </form>
                <a href="novaSenha.html">Esqueci a senha</a>
                <a href="criarConta.html">Criar Conta</a>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="login.js" type="text/javascript"></script>
    </body>
</html>
